*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    justify-content: center;    
}
#button
{
   margin-top: 50vh;
   padding: 15px;
   border-radius: 5px;
   background-color: rgb(114, 109, 109);
   color: white;
   font-weight: bold;
}